img{
    
   width: 100%;
    height: 450px;
}
h2
{
    background-color: black; 
    font-family: "trebuchet MS",serif;
    margin:15px 550px 15px 550px;
    text-align:center;color: skyblue;
    border :4px solid darkgray;
    border-radius: 10px;
    padding-left:25px;
    padding-right:20px;
    padding-bottom:15px;
    padding-top:15px;
}
summary
{
    color:skyblue;
    font-weight: bold;
     font-family: "trebuchet MS",serif;
    background-color:black;
    text-align: left;
    font-size: 20px;
    border: 3px solid black;
    border-radius:5px; 
    cursor: pointer;
}
body summary span {
    color: lightgray;
    font-size:15px;
}
details 
{
    text-align:left ;
    color: black;
    margin: 8px 40px 8px 40px;
    border:1px solid darkgray;
    border-radius: 8px;
    background-color: darkgray;
    font-family: "arial",sans-serif;
    font-size: 20px;

}
details p
{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 19px;
}
details[open] summary ~ * 
{
    animation: open 0.5s ease-in-out;
}

@keyframes open
{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}



